
body {
	margin: 0px;
}

#canv, #videoel {
	position:fixed;
	z-index: 0;
	top:0;
	left:0;
}
#cover{
	top:0;
	position:fixed;
	width:100vw;
	height:100vh;
	background-color:black;
	z-index: 1;
}


#container {
	position : relative;
	width : 370px;
	/*margin : 0px auto;*/
}

h1 {
	font-size: 30px;
	   color: white;
	}
h2 {
	font-size:20px;
	line-height: 1em;
	color:white;

}
.resultText{
	/*background-color: blue;*/
	position:fixed;
	z-index: 3;
	text-align: center;
}

