.size0{
	font-size: 35vw;
}
.size1{
	font-size: 22vw;
}
.size2{
	font-size: 14vw;
}
.size3{
	font-size: 12vw;
}
.size4{
	font-size: 10vw;
}
.size5{
	font-size: 8vw;
}
.size6{
	font-size: 7.5vw;
}
.size7{
	font-size: 6vw;
}
.size8{
	font-size: 5.5vw;
}
.size9{
	font-size: 5vw;
}
.size10{
	font-size: 4.5vw;
}
.size11{
	font-size: 4vw;
}
.size12{
	font-size: 3.5vw;
}
.size14{
	font-size: 3vw;
}
.size15{
	font-size: 2.5vw;
}
.size16{
	font-size: 2vw;
}
.size17{
	font-size: 1.75vw;
}
.size18{
	font-size: 1.5vw;
}
.size19{
	font-size: 1.4vw;
}
.size20{
	font-size: 1.3vw;
}
.size21{
	font-size: 1.2vw;
}
.size22{
	font-size: 1.1vw;
}
.size23{
	font-size: 1vw;
}
.size24{
	font-size: 0.9vw;
}
.size25{
	font-size: 0.8vw;
}
.size26{
	font-size: 0.7vw;
}