.size0{
	font-size: 35vw;
}
.size1{
	font-size: 20vw;
}
.size2{
	font-size: 16vw;
}
.size3{
	font-size: 14vw;
}
.size4{
	font-size: 12vw;
}
.size5{
	font-size: 10vw;
}
.size6{
	font-size: 9vw;
}
.size7{
	font-size: 8vw;
}
.size8{
	font-size: 8vw;
}
.size9{
	font-size: 7vw;
}
.size10{
	font-size: 7vw;
}
.size11{
	font-size: 7vw;
}
.size12{
	font-size: 6vw;
}
.size13{
	font-size: 5vw;
}